{% extends 'home/base.html' %}
{% block content %}

	<body>

		<div class="body">
			<div role="main" class="main">

				<section class="page-header page-header-modern bg-color-quaternary page-header-md custom-page-header">
					<div class="container">
						<div class="row mt-3">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1>Blog</h1>
								<span class="d-block text-4">Lastest News</span>
							</div>
							<div class="col-md-4 order-1 order-md-2 align-self-center">
							</div>
						</div>
					</div>
				</section>

				<div class="container">
					<div class="row pt-1 pb-5 mb-3">
						<div class="col">
							{% for blog in blog %}
							<div class="row mt-2 mb-2">
								<article class="blog-post col">
									<div class="row">
										<div class="col-sm-8 col-lg-5 position-relative">
										</div>
										<div class="col-sm-12 col-lg-7">
											<h2>{{blog.title}}</h2>
											<p>{{blog.text | safe | truncatewords:32 }}</p>
											<hr class="solid">
											<div class="post-infos d-flex">
												<span class="info posted-by">
													Posted by:
													<span class="post-author font-weight-semibold text-color-dark">
														{{blog.name}}
													</span>
												</span>
											</div>
											<a class="btn btn-outline custom-border-width btn-primary custom-border-radius font-weight-semibold text-uppercase mt-5" href="{% url 'blogdetail' blog.pk %}" title="Read More">Read More</a>
										</div>
									</div>
								</article>
							</div>

							<hr class="solid tall mt-5">
							{% endfor %}
						</div>
					</div>
				</div>
			</div> 
		</div>
	</body>
{% endblock %}
