<!-- footer -->
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center pb-4">
							<p>2022 © DelaLight <span class="text-color-light">Business Consulting</span> - Copyright All Rights Reserved</p>
						</div>
					</div>
				</div>
			</footer>

		<!-- Vendor -->
		{% load static %}
		<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.appear/jquery.appear.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.cookie/jquery.cookie.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.validation/jquery.validate.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.gmap/jquery.gmap.min.js' %}"></script>
		<script src="{% static 'vendor/lazysizes/lazysizes.min.js' %}"></script>
		<script src="{% static 'vendor/isotope/jquery.isotope.min.js' %}"></script>
		<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
		<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'vendor/vide/jquery.vide.min.js' %}"></script>
		<script src="{% static 'vendor/vivus/vivus.min.js' %}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'js/theme.js' %}"></script>

		<!-- Current Page Vendor and Views -->
		<script src="{% static 'js/views/view.contact.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'js/custom.js' %}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'js/theme.init.js' %}"></script>