{% extends 'home/base.html' %}
{% block content %}

	<body>

		<div class="body">
			<div role="main" class="main">

				<section class="page-header page-header-modern bg-color-quaternary page-header-md custom-page-header">
					<div class="container">
						<div class="row mt-3">
							<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
								<h1>Testimonials</h1>
								<span class="d-block text-4">What our clients say about us</span>
							</div>
						</div>
					</div>
				</section>

				<div class="container">
					<div class="row pt-1">
						<div class="col">
							{% for testimonial in testimonial %}
							<div class="row mb-4 pb-4">
								<div class="col-8 col-sm-4 col-lg-2 text-center pt-5">
									<img src="{{testimonial.image.url}}" alt="">
								</div>
								<div class="col-12 col-sm-12 col-lg-10">
									<div class="testimonial custom-testimonial-style-1 testimonial-with-quotes mb-0">
										<blockquote class="pb-2">
											<p>{{testimonial.text}}</p>
										</blockquote>
										<div class="testimonial-author float-start">
											<p><strong>{{testimonial.name}}</strong><span class="text-color-primary">{{testimonial.title}}</span></p>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
